*{
	box-sizing: border-box;
}

body {
	background-color: antiquewhite;
	padding: 20px;
	font-family: Arial;
}

/* Center Website */
.main {
	max-width: 1000px;
	margin: auto;
}

h1 {
	font-size: 35px;
	word-break: break-all;
	text-align: center;
}

h2 {
	text-align: center;
}

.row {
	margin: 8px -16px;
}

/* Padding between each column */
.row,
.row > .column {
	padding: 8px;
}

/* Three equal columns that float next to each other
When doing four (which is the goal) change width to 25% */
.column {
	float: left;
	width: 30%;
}

/* Clear floats after rows */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Content */
.content {
	background-color: antiquewhite;
	padding: 10px;
}

/* For responsive effects layout, makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
	
@media screen and (max-width: 900px) {
	.column{
		width: 50%;
	}
}
